In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
DATA_PATH = '/Users/hong/Desktop/practice_code/mid_project/data/병의원통합데이터'
DATA_YEAR = ['2021', '2022', '2023', '2024']

In [3]:
pop_df = pd.read_csv('/Users/hong/Desktop/practice_code/mid_project/data/행정구역별 인구데이터/202409_202409_연령별인구현황_월간.csv', encoding='cp949')
pop_df['행정구역'] = ['전국', '서울', '부산','대구','인천','광주','대전','울산','세종','경기','강원','충북','충남','전북','전남','경북','경남','제주']
pop_df.tail(8)

,행정구역,2024년09월_계_총인구수,2024년09월_계_연령구간인구수,2024년09월_계_0~9세,2024년09월_계_10~19세,2024년09월_계_20~29세,2024년09월_계_30~39세,2024년09월_계_40~49세,2024년09월_계_50~59세,2024년09월_계_60~69세,2024년09월_계_70~79세,2024년09월_계_80~89세,2024년09월_계_90~99세,2024년09월_계_100세 이상
10,강원,"1,520,410","1,520,410","86,936","127,131","157,920","158,364","202,546","261,590","278,720","147,342","86,029","13,416",416
11,충북,"1,590,858","1,590,858","98,726","143,369","175,684","188,572","226,392","273,880","261,712","133,848","76,374","12,014",287
12,충남,"2,135,373","2,135,373","137,181","201,924","221,480","251,738","319,848","353,687","332,046","185,256","111,646","20,079",488
13,전북,"1,741,640","1,741,640","96,656","161,739","183,082","172,448","236,783","302,958","287,525","177,223","104,609","18,146",471
14,전남,"1,791,496","1,791,496","102,685","156,516","170,855","169,116","234,446","309,877","310,298","193,126","123,576","20,432",569
15,경북,"2,537,955","2,537,955","142,897","216,043","238,934","256,877","347,204","443,012","455,108","261,526","151,520","24,274",560
16,경남,"3,232,297","3,232,297","198,554","314,289","309,134","347,118","493,436","584,622","537,622","280,350","143,796","22,945",431
17,제주,"671,064","671,064","48,496","70,123","70,796","77,746","105,752","119,687","96,221","49,272","27,374","5,353",244

In [4]:
df_2024 = pd.read_csv(f'{DATA_PATH}/{DATA_YEAR[-1]}의원통합데이터.csv', index_col=0)
# df_2023 = pd.read_csv(f'{DATA_PATH}/{DATA_YEAR[2]}의원통합데이터.csv', index_col=0)
# df_2022 = pd.read_csv(f'{DATA_PATH}/{DATA_YEAR[1]}의원통합데이터.csv', index_col=0)
# df_2021 = pd.read_csv(f'{DATA_PATH}/{DATA_YEAR[0]}의원통합데이터.csv', index_col=0)

In [29]:
df_2024.shape, df_2023.shape, df_2022.shape, df_2021.shape
# (432462, 38), (402936, 36), (395581, 36), (382773, 35)

# 정신과개방상급병상수, 정신과폐쇄개방병상수 - 2024년
# 조선사 인원수 - 2022 ~ 2024년 (2021년만 없음)

((432462, 38), (402936, 36), (395581, 36), (382773, 35))

# 2024년 기준 분석

In [5]:
df = df_2024.copy()

### 지역별 병원수, 병상수, 인력수

- 시도코드명 > 시군구코드명

In [6]:
df_simple = df.drop(['진료과목코드명', '과목별 전문의수'], axis=1).drop_duplicates()
df_simple.shape[0] == df_simple['암호화요양기호'].nunique()

True

In [7]:
mask = df_simple['시도코드명'] == '세종시'
df_simple.loc[mask, '시도코드명'] = '세종'

In [8]:
df_simple.to_csv('/Users/hong/Desktop/practice_code/mid_project/data/의사병상통합데이터/doctor_bed_2024.csv', index=False)

In [9]:
df_simple.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78126 entries, 0 to 407392
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   암호화요양기호     78126 non-null  object
 1   요양기관명       78126 non-null  object
 2   종별코드명       78126 non-null  object
 3   설립구분코드명     78126 non-null  object
 4   시도코드명       78126 non-null  object
 5   시군구코드명      78126 non-null  object
 6   개설일자        78126 non-null  int64
 7   성인중환자병상수    78126 non-null  int64
 8   일반입원실병상수    78126 non-null  int64
 9   소아중환자병상수    78126 non-null  int64
 10  신생아중환자병상수   78126 non-null  int64
 11  분만실병상수      78126 non-null  int64
 12  수술실병상수      78126 non-null  int64
 13  응급실병상수      78126 non-null  int64
 14  물리치료실병상수    78126 non-null  int64
 15  정신과폐쇄상급병상수  78126 non-null  int64
 16  정신과폐쇄일반병상수  78126 non-null  int64
 17  정신과개방상급병상수  78126 non-null  int64
 18  정신과폐쇄개방병상수  78126 non-null  int64
 19  격리병실병상수     78126 non-null  int64
 20  무균치료실병상수    78126 non-null  int64
 21  총의사수        78126 non-null  int64
 22  의과일반의 인원수   78126 non-null  int64
 23  의과인턴 인원수    78126 non-null  int64
 24  의과레지던트 인원수  78126 non-null  int64
 25  의과전문의 인원수   78126 non-null  int64
 26  치과일반의 인원수   78126 non-null  int64
 27  치과인턴 인원수    78126 non-null  int64
 28  치과레지던트 인원수  78126 non-null  int64
 29  치과전문의 인원수   78126 non-null  int64
 30  한방일반의 인원수   78126 non-null  int64
 31  한방인턴 인원수    78126 non-null  int64
 32  한방레지던트 인원수  78126 non-null  int64
 33  한방전문의 인원수   78126 non-null  int64
 34  조산사 인원수     78126 non-null  int64
dtypes: int64(29), object(6)
memory usage: 21.5+ MB

In [10]:
df_simple['총병상수'] = df_simple.iloc[:, 7:21].sum(axis=1)

agg_dict = {
    '총병상수': 'sum',
    '총의사수': 'sum',
    '암호화요양기호' : 'count'
}


dnb_table = df_simple.groupby(['시도코드명','시군구코드명']).agg(agg_dict).reset_index()
dnb_table.rename(columns={'시도코드명':'행정구역', '암호화요양기호':'총병원수'}, inplace=True)

dnb_table = pd.merge(dnb_table, pop_df.iloc[1:, :2], how='left', on='행정구역')
dnb_table.rename(columns={'2024년09월_계_총인구수':'총인구수'}, inplace=True)

dnb_table['총인구수'] = [ int(''.join(dnb_table['총인구수'][i].split(','))) for i in range(dnb_table.shape[0]) ]
dnb_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정구역    252 non-null    object
 1   시군구코드명  252 non-null    object
 2   총병상수    252 non-null    int64
 3   총의사수    252 non-null    int64
 4   총병원수    252 non-null    int64
 5   총인구수    252 non-null    int64
dtypes: int64(4), object(2)
memory usage: 11.9+ KB

In [11]:
dnb_table

    행정구역 시군구코드명  총병상수  총의사수  총병원수     총인구수
0     강원    강릉시  2909   726   278  1520410
1     강원    고성군    63    26    31  1520410
2     강원    동해시  1589   167   102  1520410
3     강원    삼척시   661   102    65  1520410
4     강원    속초시  1118   192   129  1520410
..   ...    ...   ...   ...   ...      ...
247   충북  청주상당구  3061   554   289  1590858
248   충북  청주서원구  4374   610   239  1590858
249   충북  청주청원구  2508   394   222  1590858
250   충북  청주흥덕구  3417   725   385  1590858
251   충북    충주시  3816   500   280  1590858

[252 rows x 6 columns]

In [12]:
agg_dict = {
    '총병상수' : 'sum',
    '총의사수' : 'sum',
    '총병원수' : 'sum',
    '총인구수' : 'mean'
}

tmp = dnb_table.groupby('행정구역').agg(agg_dict).reset_index()

# 병상수 / 인구수
tmp['인구대비병상수'] = tmp['총병상수'] / tmp['총인구수']

# 의사수 / 인구수
tmp['인구대비의사수'] = tmp['총의사수'] / tmp['총인구수']

# 병원수 / 인구수
tmp['인구대비병원수'] = tmp['총병원수'] / tmp['총인구수']

In [13]:
tmp

   행정구역    총병상수   총의사수   총병원수        총인구수   인구대비병상수   인구대비의사수   인구대비병원수
0    강원   21537   3798   1975   1520410.0  0.014165  0.002498  0.001299
1    경기  177901  35236  17631  13680645.0  0.013004  0.002576  0.001289
2    경남   74417   8144   4228   3232297.0  0.023023  0.002520  0.001308
3    경북   51591   5580   3396   2537955.0  0.020328  0.002199  0.001338
4    광주   46496   5297   2328   1411357.0  0.032944  0.003753  0.001649
5    대구   50793   8345   4151   2365523.0  0.021472  0.003528  0.001755
6    대전   28287   4982   2345   1440456.0  0.019638  0.003459  0.001628
7    부산   83801  11545   5571   3273473.0  0.025600  0.003527  0.001702
8    서울  120961  42011  19158   9350995.0  0.012936  0.004493  0.002049
9    세종    3210    801    463    389443.0  0.008243  0.002057  0.001189
10   울산   18650   2741   1426   1098728.0  0.016974  0.002495  0.001298
11   인천   45952   8029   3799   3016520.0  0.015233  0.002662  0.001259
12   전남   52520   4664   2622   1791496.0  0.029316  0.002603  0.001464
13   전북   47998   5294   2942   1741640.0  0.027559  0.003040  0.001689
14   제주    7663   1756   1041    671064.0  0.011419  0.002617  0.001551
15   충남   36320   4969   2851   2135373.0  0.017009  0.002327  0.001335
16   충북   27598   3784   2199   1590858.0  0.017348  0.002379  0.001382

In [14]:
tmp.to_csv('/Users/hong/Desktop/practice_code/mid_project/data/전처리 자료/지역별_인구대비_병상의사병원수.csv', encoding='UTF-8')