In [1]:
import pandas as pd

In [56]:
df = pd.read_csv('/Users/hong/Desktop/practice_code/mid_project/data/전처리 자료/시군구별 인구&병원.csv')
df.head()

,암호화요양기호,요양기관명,종별코드명,설립구분코드명,시도코드명,시군구코드명,개설일자,총인구수,총병상수,성인중환자병상수,...,의과전문의 인원수,치과일반의 인원수,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수
0,JDQ4MTYyMiM4MSMkMiMkMCMkMDAkNDgxMTkxIzMxIyQxIy...,뽀빠이연합의원,의원,개인,대구,대구중구,20230424,"94,808",10,0,...,1,0,0,0,0,0,0,0,0,0
1,JDQ4MTYyMiM1MSMkMSMkMCMkNzIkNTgxMzUxIzUxIyQxIy...,청담e치과의원,치과의원,개인,경기,구리시,20190401,"186,571",0,0,...,0,1,0,0,0,0,0,0,0,0
2,JDU4MTI3MSM1MSMkMiMkMCMkMDAkNTgxOTYxIzIxIyQxIy...,연세웰드림내과의원,의원,개인,경기,성남수정구,20240112,"236,258",0,0,...,2,0,0,0,0,0,0,0,0,0
3,JDQ4MTYyMiM1MSMkMSMkMCMkNzIkNTgxOTYxIzIxIyQxIy...,연세바로세움치과의원,치과의원,개인,경기,고양덕양구,20240517,"493,647",0,0,...,0,0,0,0,1,0,0,0,0,0
4,JDQ4MTYyMiM2MSMkMSMkMiMkNzIkMzgxMTkxIzIxIyQxIy...,다은치과의원,치과의원,개인,대전,대전중구,20240117,"224,279",0,0,...,0,1,0,0,0,0,0,0,0,0

In [57]:
df['총인구수'] = df['총인구수'].str.replace(',', '')
df['총인구수'] = df['총인구수'].astype(int)

In [58]:
tmp = df.groupby(['시도코드명','시군구코드명'])['총인구수'].mean().reset_index()

In [59]:
tmp

    시도코드명 시군구코드명      총인구수
0      강원    강릉시  208161.0
1      강원    고성군   37708.0
2      강원    동해시   87724.0
3      강원    삼척시   62111.0
4      강원    속초시   81164.0
..    ...    ...       ...
247    충북  청주상당구  198635.0
248    충북  청주서원구  182623.0
249    충북  청주청원구  189586.0
250    충북  청주흥덕구  283094.0
251    충북    충주시  207369.0

[252 rows x 3 columns]

In [62]:
pop = tmp.groupby('시도코드명')['총인구수'].sum().reset_index()

In [51]:
mask_class = df['종별코드명'] == '상급종합'
mask_area = df['시도코드명'].isin(['서울', '경기', '인천'])

tophost_cap = df.loc[(mask_class) & (mask_area), :]
tophost_nocap = df.loc[(mask_class) & (~mask_area), :]

In [52]:
tophost_nocap.head()

,암호화요양기호,요양기관명,종별코드명,설립구분코드명,시도코드명,시군구코드명,개설일자,총인구수,총병상수,성인중환자병상수,...,의과전문의 인원수,치과일반의 인원수,치과인턴 인원수,치과레지던트 인원수,치과전문의 인원수,한방일반의 인원수,한방인턴 인원수,한방레지던트 인원수,한방전문의 인원수,조산사 인원수
12615,JDQ4MTAxMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQyIy...,동아대학교병원,상급종합,학교법인,부산,부산서구,19900303,103197,1089,83,...,195,0,3,6,6,0,0,0,0,0
21842,JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,연세대학교 원주세브란스기독병원,상급종합,학교법인,강원,원주시,19770501,362017,919,89,...,220,0,8,9,6,0,0,0,0,0
24385,JDQ4MTYyMiM4MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...,학교법인성균관대학삼성창원병원,상급종합,학교법인,경남,창원마산회원구,19810311,178922,829,58,...,191,6,0,0,2,0,0,0,0,0
25033,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,대구가톨릭대학교병원,상급종합,학교법인,대구,대구남구,19800812,135957,938,55,...,190,2,0,0,7,0,0,0,0,0
28012,JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경북대학교병원,상급종합,특수법인,대구,대구중구,19100907,94808,975,87,...,213,0,0,0,1,0,0,0,0,0

In [63]:
mask_area2 = pop['시도코드명'].isin(['서울', '경기', '인천'])

In [70]:
print('비수도권 10만명당 상급종합병원 병상수')
print(tophost_nocap['총병상수'].sum() / pop.loc[~mask_area2, '총인구수'].sum().sum() * 100000)
print('-'*80)
print('비수도권 10만명당 상급종합병원 병상수')
print(tophost_cap['총병상수'].sum() / pop.loc[mask_area2, '총인구수'].sum().sum() * 100000)
# 차이가 거의 없음,,

비수도권 10만명당 상급종합병원 병상수
96.55130760930733
--------------------------------------------------------------------------------
비수도권 10만명당 상급종합병원 병상수
112.12692182480451

In [65]:
print('비수도권 10만명당 상급종합병원 병상수')
print(tophost_cap['총병상수'].sum() / pop.loc[mask_area2, '총인구수'].sum().sum() * 100000)

np.float64(0.0011212692182480451)

In [67]:
pop.loc[mask_area2, '총인구수'].sum().sum(), pop.loc[~mask_area2, '총인구수'].sum().sum()

(np.float64(26048160.0), np.float64(25200073.0))